[submodule "Plugins/pluginblurhash/blurhash-rs"]
	path = Plugins/pluginblurhash/blurhash-rs
	url = git@github.com:git4unrealnondev/blurhash-rs.git
[submodule "Plugins/File_Thumbnail/thumbnailer"]
	path = Plugins/File_Thumbnail/thumbnailer
	url = https://github.com/git4unrealnondev/thumbnailer
[submodule "plugins/File_Thumbnail/plugins/File_Thumbnail/thumbnailer"]
	path = plugins/File_Thumbnail/plugins/File_Thumbnail/thumbnailer
	url = https://github.com/git4unrealnondev/thumbnailer
[submodule "scrapers/mega/mega-rs"]
	path = scrapers/mega/mega-rs
	url = git@github.com:git4unrealnondev/mega-rs.git
